APP_PORT=8000
APP_UID=1000
APP_GID=1000
APP_MEMORY_LIMIT=8g
APP_CPU_LIMIT=4
CANCER_CLAW_AUTH_ENABLED=true
CANCER_CLAW_AUTH_SECRET=
CANCER_CLAW_AUTH_BOOTSTRAP_PASSWORD=
CANCER_CLAW_AUTH_MIN_PASSWORD_LENGTH=8
CANCER_CLAW_AUTH_RESET_TOKEN_TTL_MINUTES=30
CANCER_CLAW_AUTH_EMAIL_VERIFY_TTL_HOURS=24
CANCER_CLAW_AUTH_FILE_URL_TTL_SECONDS=300
CANCER_CLAW_SMTP_HOST=
CANCER_CLAW_SMTP_PORT=587
CANCER_CLAW_SMTP_USERNAME=
CANCER_CLAW_SMTP_PASSWORD=
CANCER_CLAW_SMTP_FROM=
CANCER_CLAW_SMTP_STARTTLS=true
CANCER_CLAW_PUBLIC_BASE_URL=
CANCER_CLAW_LOG_LEVEL=INFO
CANCER_CLAW_LLM_MAX_CONCURRENCY=20
CANCER_CLAW_LLM_RPM=100
MOONSHOT_API_KEY=
