APP_PORT=8000
APP_UID=1000
APP_GID=1000
APP_MEMORY_LIMIT=8g
APP_CPU_LIMIT=4
CANCER_CLAW_AUTH_ENABLED=true
CANCER_CLAW_AUTH_SECRET=
CANCER_CLAW_AUTH_BOOTSTRAP_PASSWORD=
CANCER_CLAW_LOG_LEVEL=INFO
CANCER_CLAW_LLM_MAX_CONCURRENCY=20
CANCER_CLAW_LLM_RPM=100
MOONSHOT_API_KEY=
